$theme_color:rgb(212, 68, 57);
$font_color:#2E3030;
$font_gray:#8a8a8a;
$bg_color: #F2F3F4;


//字体大小
$font_size_small:24px;
$font_size_middle:30px;
$font_size_big:34px;


//边框颜色
$border_color_gray:#8a8a8a;